.contents,.field{
	width: 80%;
	margin: 10px auto; 
	padding: 10px;
	min-height: 50px;
	background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
	background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
a {
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
}


.header__bar {
	background-color: #67b0ff;
	color: #fff; 
	overflow: hidden;
	padding: 10px;
	position: relative;

 }

 .header__bar :before{
	background-color: #fff;
	content: '';
	display: block;
	opacity: 0.6;
	transform: rotate(-30deg);
	position: absolute;
	bottom: -30px;
	right: -100px;
	width: 200px;
	height: 200px;
 }

 .contents_row {
	background-color: #67b0ff; 
	color: #fff; 
	overflow: hidden;
	padding: 10px;
	position: relative;

 }

 .contents_row:before{
	background-color: #fff; 
	content: '';
	display: block;
	opacity: 0.6;
	transform: rotate(-30deg);
	position: absolute;
	bottom: -30px;
	right: -100px;
	width: 200px;
	height: 200px;
 }


.top_btns{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fffbef;
  border: double 4px #fffbef;
  border-radius: 3px;
	transition: .4s;
	
}
.top_btns:hover {
  background: #a8deff;
}

.topic_btns{
  display: inline-block;
	padding: 5px;
	margin: 5px;
  text-decoration: none;
	color: black;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
	transition: .4s;
	
}

.topic_btns:hover {
  background: #cbedff;
	color: black;

}

.topic_btns:visited{
	color: black;

}

.footer__ber{
	margin-top: 10px;
	background-color: #67b0ff; 
	color: #fff; 
	padding: 10px; 
	bottom: 0;
}